/* Home */

#home{
	height: 820px;
}

.headings{
	font-size: 1.7rem;

}



/* About */

.pic img{
	width: 50%;
	height: auto;	
}

#intro {
	font-size: 1.1rem;
	padding: 2%;

}

#intro h2{
	font-size: 1.5rem;
}


.intro{
	font-size: 100%;
	padding: 2%;
}




/* Portfolio */

.gallery img{
	width: 90%;
	height: auto%;
	margin: 10px;
}

/* Contact */

.input {
	width: 80%;
}

#msg{
	width: 70%;
}

#send{
	width: 20%;
}
.row{
	padding: 0;
}

#coins {
	width: 50%;
}

.navbar{

	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0,0.5);
	position: sticky;
	top: 0;
	z-index: 1;
}

.navbar ul{
	padding: 6% 0% 0 4%;
}

#nav-toggler{
	cursor: pointer;
	font-size: 200%;
	padding: 2%;
}
